.add-active {
  background-color: rgba(167, 238, 167, 0.8) !important;
  transition: all ease-in-out 0.5s;
}

.add-container {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 94%;
  height: 4%;
  padding: 1% 3%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  transition: all ease-in-out 0.5s;

  .add-product-name {
    margin: 0;
  }

  .add-product-image {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: auto 0;
    display: none;
  }

  @media only screen and (max-width: 1000px) {
    .add-product-name {
      display: none;
    }

    .add-product-image {
      display: block;
    }

    .add-content-container{
      width: 50%;
    }
  }

  .add-content-container {
    min-width: 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .add-icon {
      margin: auto;
    }

    p {
      margin: auto;
    }

    input {
      width: 40px;
      height: 30px;
      margin: auto;
    }
  }

  button {
    cursor: pointer;
    color: white;
    background-color: #cc331e;
    border: 1px solid #cc331e;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }

  button:hover {
    background-color: rgb(232, 42, 16);
    border-color: #e82a10;
  }

  button:active {
    transform: scale(1.2);
    transition: all ease-in-out 0.5s;
  }
}