.order-detail-container {
  width: 100%;

  .detail {
    width: 60%;
    margin: 0 auto;

    .button-weak {
      background-color: #bfbaba;
      border: 1px solid rgba(191, 186, 186, 0.6);
    }

    button {
      height: 2.5rem;
      cursor: pointer;
      color: white;
      margin-right: 1rem;
      background-color: #e22d00;
      border: 1px solid #cc331e;
      border-radius: 5px;
      padding: 0.5rem 1rem;
    }

    button:hover {
      background-color: rgb(232, 42, 16);
      border-color: #e82a10;
    }


    .first-box {
      width: 85%;
      margin: 4rem auto;
      padding: 2rem;
      border: #bbbbbb 1px solid;
      border-radius: 0.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media only screen and (max-width: 1000px) {
        flex-direction: column;
      }

      .address {
        width: 40%;
        @media only screen and (max-width: 1000px) {
          width: 100%;
        }
        h4 {
          margin: 0.5rem 0;
        }
        p {
          margin: 0.5rem 0;
        }
      }
      .summary {
        width: 40%;
        @media only screen and (max-width: 1300px) {
          width: 50%;
        }
        @media only screen and (max-width: 1000px) {
          width: 100%;
        }

        h4 {
          margin: 0.5rem 0;
        }

        table {
          width: 100%;

          .left-column {
            text-align: left;
          }
          .right-column {
            text-align: right;
          }
        }
      }
    }
    .order-items {
      width: 85%;
      margin: 4rem auto;
      padding: 2rem;
      border: #bbbbbb 1px solid;
      border-radius: 0.8rem;
      overflow: hidden;

      .top-line {
        background-color: #e0e0e0;
        width: 110%;
        height: 3rem;
        transform: translateX(-5%) translateY(-2rem);
        padding: 0 8%;
        line-height: 3rem;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }
}