.prompt-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  z-index: 18;

  .modal {
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(128, 128, 128, 0.6);
    backdrop-filter: blur(3px);
  }

  .content {
    width: 30rem;
    height: 10rem;
    padding: 1rem;
    background-color: rgb(128, 128, 128);
    border: rgb(191, 186, 186) 2px solid;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 22;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .action {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .button-cancel {
        background-color: #bfbaba;
        border: 1px solid rgba(191, 186, 186, 0.6);
      }

      button {
        width: 6rem;
        height: 2.5rem;
        cursor: pointer;
        font: inherit;
        color: white;
        margin: 0 1rem;
        background-color: #e22d00;
        border: 1px solid #cc331e;
        border-radius: 5px;
        padding: 0.5rem 1rem;
      }

      button:hover {
        background-color: rgb(232, 42, 16);
        border-color: #e82a10;
      }
    }

  }
}